.intro {

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        padding: 0 70px 0 30px;
    }

    &__block {
        padding-top: 90px;
    }

    &__main-title {
        margin: 0 0 20px;
    }

    &__sub-title {
        margin: 0 0 49px;
    }

    &__use {
        margin-bottom: 50px;
    }
}

.charact {

    &__wrap {
        margin-bottom: 70px;
        padding: 0 30px;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        vertical-align: middle;
        margin-bottom: 25px;
        border-radius: 5px;
        border: 1px solid $greyB;
        overflow: hidden;

        &-text {
            display: inline-block;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            color: $greyO5;
            font-size: 15px;
            text-align: center;
            line-height: normal;
            opacity: 1;
            transition: opacity .4s ease;
        }

        &-img {
            display: block;
            opacity: 0.15;
            transition: opacity .4s ease;
        }

        &-logo {
            display: inline-block;
            position: absolute;
            bottom: 5px;
            left: 30px;
            opacity: 0;
            transition: opacity .9s ease;
        }

        &:hover {

            .charact__item-text {
                opacity: 0;
            }

            .charact__item-img {
                opacity: 1;
            }

            .charact__item-logo {
                opacity: 1;
            }
        }
    }
}

.natural {

    &__wrap {
        display: flex;
        margin-bottom: 70px;
        padding: 0 30px;
    }

    &__img {
        margin: -100px 0 0 -100px;
    }

    &__right {
        margin-top: 30px;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        font-size: 20px;

        img {
            margin: 0 5px;
        }
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        margin: 0 20px 0 0;
        padding: 5px 0 0;
        list-style: none;

        &:last-child {
            margin-right: 0;
        }

        li {
            position: relative;
            margin-bottom: 15px;
            padding-left: 25px;
            color: $greyO5;
            font-size: 14px;
            line-height: normal;

            &:after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                top: 5px;
                left: 0;
                border-radius: 100%;
                border: 2px solid $orange;
            }
        }
    }
}

.video {

    &__wrap {
        display: flex;
        align-items: center;
        margin-bottom: 70px;
        padding: 0 30px;
    }

    &__block {
        margin-right: 90px;
        box-shadow: 0 0 15px rgba(0,0,0,.2);
    }
}

.applications {

    &__wrap {
        margin-bottom: 100px;
        padding: 0 30px;
    }

    &__block {
        padding: 75px 95px 60px;
        background: url("../img/bg_applications.jpg") center top no-repeat;
    }

    &__title {
        margin-bottom: 20px;
        text-align: center;
    }

    &__section-info {
        margin-bottom: 50px;
        text-align: center;
    }

    &__item {
        display: none;
        align-items: center;

        &.active {
            display: flex;
        }
    }

    &__img {
        margin-right: 60px;
    }

    &__list {
        margin: 0;
        padding: 5px 0 0;
        list-style: none;

        li {
            position: relative;
            margin-bottom: 15px;
            padding-left: 30px;
            font-size: 15px;

            &:after {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                top: 50%;
                left: 0;
                margin-top: -6px;
                border-radius: 100%;
                border: 2px solid $orange;
            }
        }
    }
}

.reviews {

    &__wrap {
        margin-bottom: 100px;
        padding: 0 30px;
    }

    &__title {
        margin-bottom: 50px;
        text-align: center;
    }

    &__list {
        display: flex;
    }

    &__item {
        padding: 25px 13px 16px;
        border: solid 1px $greyB;
        border-radius: 5px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 17px 17px;
        border-bottom: solid 1px $greyB;

        .person {

            &__name {
                margin-bottom: 7px;
                font-size: 15px;
                font-weight: 700;
                text-transform: uppercase;
            }

            &__date {
                color: $greyO5;
            }
        }

        .mark {

            &__title {
                margin-bottom: 5px;
            }

            &__stars {

                img {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-right: 3px;
                }
            }
        }
    }

    &__body {
        padding: 17px 17px 0;
        line-height: normal;
    }

    &__more-info {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        .btn, .reviews__btn {
            margin: 0 15px;
        }
    }

    &__btn {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px dashed $font_color;

        &:hover {
            border-bottom: 1px solid $font_color;
        }
    }

    &__carousel {

        .owl-nav {
            display: flex;
            justify-content: center;
            margin-top: 25px;
        }

        .owl-prev, .owl-next {
            display: inline-flex;
            width: 25px;
            height: 25px;
            margin: 0 60px;
            opacity: .3;
            transition: opacity .3s ease;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        .owl-prev {
            background: url("../img/icon/icon-nav.svg") center no-repeat;
        }

        .owl-next {
            background: url("../img/icon/icon-nav.svg") center no-repeat;
            transform: rotate(180deg);
        }

        .owl-dots {
            display: flex;
            justify-content: center;
            margin-top: -17px;
        }

        .owl-dot {
            width: 10px;
            height: 10px;
            margin: 0 4px;
            border-radius: 100%;
            background-color: $greyB;
            transition: background-color .3s ease;

            &.active {
                background-color: $orange;
            }
        }
    }
}

.makeup {

    &__wrap {
        margin-bottom: 100px;
        padding: 0 30px;
    }

    &__title {
        margin-bottom: 20px;
        text-align: center;
    }

    &__section-info {
        margin-bottom: 40px;
        text-align: center;
        line-height: normal;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 350px;
        padding: 40px 0 30px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid $greyB;

        &.makeup-molecules {
            background: url("../img/bg_molecules.jpg") center top no-repeat;
        }

        &.makeup-pills {
            background: url("../img/bg_pills.jpg") center top no-repeat;
        }

        &.makeup-microelements {
            background: url("../img/bg_microelements.jpg") center top no-repeat;
        }

        &-icon {
            margin-bottom: 40px;
        }

        &-title {
            margin-bottom: 30px;
            font-size: 18px;
            font-weight: 700;
        }

        &-text {
            color: $greyO5;
            font-size: 15px;
            line-height: 1.6;
        }
    }
}

.how-order {

    &__wrap {
        display: flex;
        margin-bottom: 70px;
        padding: 0 30px;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        font-size: 20px;
    }

    &__sub-title {
        margin-bottom: 40px;
        color: $greyO7;
        font-size: 14px;
        font-weight: 400;
    }
}