@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
    url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'),
    url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}