$font_size: 14px;
$font_color: #0d0d0d;
$font: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
$bg_color: #ffffff;
$line_height: 1;
$greyO5: #868686; // #0d0d0d opacity 0.5
$greyO7: #565656; // #0d0d0d opacity 0.7
$greyB: #eaeaea;  // border
$orange: #ff9c00;  // border
$orangeGradient: linear-gradient(82deg, #ffc15f, $orange);