.form-vertical {
    display: inline-block;
    border: solid 1px $greyB;
    border-radius: 5px;
    background: #fff;


    &__info {
        padding: 25px;
        text-align: center;
        background: #fafafa;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 15px;
        line-height: normal;

        span {
            font-weight: 700;
        }
    }

    &__offer {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &-text {
            display: inline-block;
            padding: 6px 12px;
            color: #ffffff;
            font-size: 18px;
            background: $orangeGradient;
            border-radius: 5px;
        }
    }

    &__form {
        padding: 20px 25px 25px;
    }

    .form__line {
        text-align: center;
    }

    .form__input {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 1199px) {

    .form-vertical {

        &__info {
            padding: 20px;
        }

        &__form {
            padding: 20px;
        }
    }
}