.form-vertical {
    display: inline-block;
    padding: 25px;
    border: solid 1px $greyB;
    border-radius: 5px;
    background: #fafafa;

    &__info {
        text-align: center;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 15px;
        line-height: normal;

        span {
            font-weight: 700;
        }
    }

    &__offer {
        margin-bottom: 10px;

        &-text {
            display: inline-block;
            padding: 6px 12px;
            color: #ffffff;
            font-size: 18px;
            background: $orangeGradient;
            border-radius: 5px;
        }
    }

    &__form {
        padding-top: 10px;
    }

    .form__line {
        text-align: center;
    }

    .form__input {
        width: 100%;
        margin-left: 0;
    }
}