.header {

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 30px;
        border-bottom: 1px solid $greyB;
    }

    &__phone {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .phone__icon {
            display: inline-block;
            width: 34px;
            height: 34px;
            margin-right: 15px;
            background: url("../img/icon/icon-phone.svg") center no-repeat;
        }

        .phone__number {
            display: block;
            font-size: 16px;
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .header {

        &__nav {

            .nav__item {
                margin-right: 20px;

                &:first-child {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .header {

        &__nav {

            display: none;
        }
    }
}

@media (max-width: 767px) {

    .header {

        &__wrap {
            flex-wrap: wrap;
        }

        &__logo {}

        &__nav {

            display: none;
        }
    }
}

@media (max-width: 1199px) {

    .header {

        &__wrap {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
